@import "../../aria/TagGroup.css";
@import "../../aria/CheckboxGroup.css";
@import "../../aria/DatePicker.css";

.RouteCreate {
    background-color: #EBEBEB;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto 24px;
}

.RouteCreate-Inside {
    padding: 12px;
}

.Label {
    font-family: "Proto Grotesk Web";
    display: flex;
    color: black;
    align-items: center;
    gap: 8px;

    font-size: 20px;
    line-height: 24px;

    padding-bottom: 16px;
}

.Label-Big {
    font-size: 24px;
    line-height: 28px;
}
.CustomRoute {
    background-color: #F5F5F5;
    padding: 12px;
    border-radius: 20px;
}

.CustomRoute-Filters {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Toggle {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border-radius: 12px;
    padding: 2px;
}

.Toggle-Transparent {
    border: none !important;
    font-weight: 600;
    font-size: 1rem;
    background-color: none !important;
}

.TinderCardContainer {
    position: relative;
    width: 80vw;
    max-width: 300px;
    height: 420px;
    margin: 24px auto 24px;
  }
  
  .TinderCard {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 80vw;
    max-width: 300px;
    height: 420px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  .TinderCard-Top {
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }

  .TinderContent {
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .TinderImage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .TinderTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .TinderParams {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    row-gap: 4px;
    align-items: center;
  }

  .TinderParams {
    white-space: nowrap;
    overflow: hidden;
  }

  .TinderBackground {
    position: absolute;
    left: -58px;
    top: 540px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .TinderBackground-Left {
    background-color: #a0a0a0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .TinderBackground-Right {
    background-color: #D6F3E9;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .TinderBackground-Placeholder {
    position: absolute;
    top: 196px;
    width: 80vw;
    max-width: 300px;
    font-size: 28px;
    line-height: 32px;
    color:#a0a0a0;
  }

  .Location {
    display: flex;
    color: black;
    font-family: "Roboto", sans-serif;
    padding: 10px 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: white;
    white-space: nowrap;
    width: calc(100% - 16px);
    forced-color-adjust: none;
  
    &[data-focus-within] {
      outline: 2px solid #FFCF08;
      outline-offset: -1px;
    }
  }

.LocationWrapper {
    position: relative;
}

.LocationButton {
    position: absolute;
    top: 8px;
    right: 0;
    font-family: "Roboto", sans-serif;
    background: white;
    color: black;
    forced-color-adjust: none;
    border-radius: 4px;
    border: none;
    margin-left: -1.929rem;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    box-sizing: content-box;

    &[data-pressed] {
        box-shadow: none;
        background: #FFCF08;
      }
  
      &[data-focus-visible] {
        outline: 2px solid #FFCF08;
        outline-offset: 2px;
      }
}

.RouteSmallCard {
    position: relative;
    background-color: #fff;
    width: calc(100% - 16px);
    margin: 0 8px 8px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  .RouteSmallCard-Top {
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }

  .RouteSmallContent {
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .RouteSmallImage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .RouteSmallTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .RouteSmallParams {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    row-gap: 4px;
    align-items: center;
  }

  .RouteSmallParams {
    white-space: nowrap;
    overflow: hidden;
  }

  .RouteSmallTags {
    color: white;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0.9;
  }

  .RouteSmallTags .react-aria-Tag {
    color: white;
  }