.Header {
padding: 8px 16px;
box-sizing: border-box;
background: #FFFFFF;
width: 100%;
}


.Header-Inside {
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.LeftMenu {
    display: flex;
    gap: 8px;
}

.RightMenu {
    display: flex;
    gap: 2px;
}

.MenuButton {
    border: none !important;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent !important;
}

.react-aria-MenuItem {
    padding: 4px;
}

.UserAvatar {
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    top: 0;
}