.Header {
padding: 8px 16px;
box-sizing: border-box;
background: #FFFFFF;
width: 100%;
}


.Header-Inside {
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.LeftMenu {
    display: flex;
    gap: 8px;
}

.RightMenu {
    display: flex;
    gap: 8px;
}

